
body {
    background-color: #f0f0f0; /* Fondo gris suave */
    font-family: Arial, sans-serif;
}
.container {
    background-color: #ffffff; /* Fondo blanco para los contenedores */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-container {
    display: flex;
    align-items: center;
}
.profile-info {
    margin-left: 20px;
}
.title-container img {
    max-width: 100px; /* Tamaño máximo para las imágenes */
    margin: 10px;
}

